@import 'nullstyle.scss';
@import 'header.scss';
@import 'footer.scss';

@font-face {
	src: url('../fonts/Roboto-Regular.ttf');
	font-family: 'Roboto Regular';
}
@font-face {
	src: url('../fonts/Roboto-Bold.ttf');
	font-family: 'Roboto Bold';
}

$font-stack: 'Roboto Regular', Arial, Helvetica;

body {
	font-family: $font-stack;
}
